// Import page-specific CSS files here.
@import "home";

  .home-logo-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    perspective: 1000px; /* Ajoute une perspective pour l'effet 3D */
  }

  .home-logo-image {
    width: 200px;      /* ajuste ici si besoin */
    height: auto;
    opacity: 0.85;
    margin-bottom: 40px;



    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1)); /* Ombre légère */
    transition: all 0.3s ease; /* Animation fluide */

    transform: rotate(0deg);

    &:hover {
      transform: rotate(5deg); /* Légère rotation */
    }
  }
  .home-title {
    font-size: 2.5rem;
    font-weight: 760;
    text-align: center;
    margin-bottom: 10px;
  }

  .home-subtitle {
    font-size: 1.25rem;
    color: #555555;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 660;
  }

  .home-buttons {
    margin-bottom: 20px;
  }
