<div class="diaries-container">

  <%= link_to diaries_path(@diary), class: "back-button" do %>
    ← Retour à l'entrée
  <% end %>

  <div class="diary-form">
    <div class="diary-form__header">
    </div>

    <%= render "form", diary: @diary, submit_text: "Modifier" %>
  </div>

</div>
