<div class="welcome">
      <div class="welcome__text">
        <h2 class="welcome__title">Bienvenue dans journal</h2>
        <p class="welcome__text">
          Ici, tu peux écrire librement, documenter ton parcours, et célébrer chaque étape.
        </p>
      </div>
    </div>
