<div class="diaries-container">

  <%= link_to diaries_path, class: "back-button" do %>
    ← Retour à mes entrées
  <% end %>

  <div class="diary-form">
    <div class="diary-form__header">
    </div>

    <%= render "form", diary: @diary, submit_text: "Créer l'entrée" %>
  </div>

</div>
