<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %><%# app/views/pages/home.html.erb %>
<div class="home-container">
  <%# Logo au-dessus du titre %>


  <h1 class="home-title">Bienvenue sur Space4Me</h1>
  <p class="home-subtitle">Votre safespace pour vous accompagner durant votre parcours</p>

  <% unless user_signed_in? %>
    <div class="home-buttons">
      <%= link_to "Se connecter", new_user_session_path, class: "home-btn home-btn-primary" %>
      <%= link_to "S'inscrire", new_user_registration_path, class: "home-btn home-btn-secondary" %>
    </div>

    <div class="logo">
    <%= image_tag "logo temp.png", alt: "Space for Me", class: "logo-img" %>
    </div>
  <% end %>
</div>

<style>
  .logo {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }

  .logo-img {
    width: 120px;      /* ajuste ici si besoin */
    height: auto;
    opacity: 0.85;
  }
</style>
