<%# <%# <h1>Pages#home</h1> %>

<div class="home-container">

  <%# Logo au-dessus du titre %>
  <div class="home-logo-container">
    <%= image_tag "logo_temp.png",
                  alt: "Logo Space4Me",
                  class: "home-logo-image" %>

  </div>

<h1 class="home-title">Bienvenue sur Space4Me</h1>
<p class="home-subtitle">Votre safespace pour vous accompagner durant votre parcours</p>

<% unless user_signed_in? %>
<div class="home-buttons">
  <%= link_to "Se connecter", new_user_session_path, class: "home-btn home-btn-primary" %>
  <%= link_to "S'inscrire", new_user_registration_path, class: "home-btn home-btn-secondary" %>
</div>

  <% end %>
</div>
