.alert {
  position: fixed;
  bottom: 180px;
  right: 16px;
  z-index: 1000;

  border-radius: 12px;


  animation: fadeOut 0.5s ease 3s forwards;

    @keyframes alertFadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
    }
  }
}
