// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Action Text Overview
// @import "actiontext";
@import "trix";

// Your CSS partials
@import "components/index";
@import "pages/index";

// import components appointments scss
@import "components/appointments";
@import "components/events/dashboard";
@import "components/events/calendar";
@import "components/events/incoming_events";
@import "components/events/add_events";
@import "components/events/m_footer";

// Pour feature diaries
@import "components/diaries/variables";
@import "components/diaries/index";
@import "components/diaries/show";
@import "components/diaries/form";
