<%# app/views/appointments/_fab_button.html.erb %>

<div class="fab-container">
  <button class="fab-main" id="fabMain">
    <i class="fas fa-plus"></i>
  </button>

  <div class="fab-menu" id="fabMenu">
    <%= link_to new_appointment_path, class: "fab-item" do %>
      <i class="fas fa-calendar-plus"></i>
      <span>Rendez-vous</span>
    <% end %>

    <%= link_to "#", class: "fab-item" do %>
      <i class="fas fa-smile"></i>
      <span>Humeur</span>
    <% end %>

    <%= link_to "#", class: "fab-item" do %>
      <i class="fas fa-sticky-note"></i>
      <span>Note</span>
    <% end %>

    <%= link_to "#", class: "fab-item" do %>
      <i class="fas fa-tasks"></i>
      <span>Tâche</span>
    <% end %>
  </div>
</div>


<script>
  // turbo:load instead of DOMContentLoaded
  document.addEventListener('turbo:load', function() {
    const fabMain = document.getElementById('fabMain');
    const fabMenu = document.getElementById('fabMenu');

    if (fabMain && fabMenu) {

      fabMain.replaceWith(fabMain.cloneNode(true));
      const newFabMain = document.getElementById('fabMain');

      newFabMain.addEventListener('click', function() {
        fabMenu.classList.toggle('show');
      });


      document.addEventListener('click', function(event) {
        if (!newFabMain.contains(event.target) && !fabMenu.contains(event.target)) {
          fabMenu.classList.remove('show');
        }
      });
    }
  });
</script>
