<%# app/views/appointments/index.html.erb %>
<%= render "shared/app_header" %>

<div class="mobile-dashboard">


  <%= render "calendar_section" %>

  <%= render "reminders_section", appointments: @appointments %>



</div>
