<%# app/views/appointments/index.html.erb %>

<div class="mobile-dashboard">

  <%= render "calendar_section" %>

  <%= render "reminders_section", appointments: @appointments %>

  <%= render "fab_button" %>

</div>
